#divPhoto{
	margin-right: 380px;
	background-color: white;
}

#nom{
	margin-left: 250px;
	padding-top: 150px;
}


#photo
{
	margin-left: 100px;
	background-repeat: no-repeat;
	margin-top:-80px;
}

#logo{
	margin-left: 500px;
	margin-top: -200px;

}